/*GENERAL*/

a{
    color: #191919;
    text-decoration: none;   
}

/*HOME*/

body{
 font-family: "Roboto Mono", sans-serif;
 overflow: hidden;
}

#eiko{
    width: auto;
    height: 40px;
    position: relative;
    top: 0%;
    left: -5%; 
    margin: 70px 0px 0px 100px;
}


li{ 
    list-style:none;
}

.menu {
    font-weight: 500;
    color: #191919;
    font-size: 22px;
    text-decoration: none; 
    position: relative;
    top: 100%;
    left: -7%; 
    margin: 10px 0px 0px 100px;       
}

#video{
    position: relative;
    top: 0%;
    left: 3%; 
    margin: -350px 0px 0px 0px; 
    z-index: -50;       

}

/*FILMS-PAGE*/

#filmbody{
background-color: #ffffff;
}

#yt{ 
   position: relative;
   left: 0%; 
   margin: 100px 0px 0px 0px;
   
}



/*CONTACT-PAGE*/


.bio2{
   width: 300px; 
   position: relative;
   left: 53%; 
   margin: 50px 0px 0px 0px;
   font-size: 20px;
}
  
  .links{
      font-size: 20px; 
      position: relative;
      left: 50%; 
      margin: 40px 0px 0px 0px;
      font-weight: 500;
}

/*PROJECTS-PAGE*/

#bio1{
   width: 400px; 
   position: relative;
   left: 53%; 
   margin: -200px 0px 0px 0px;
   font-size: 20px;

}
    @media only screen and (max-width: 600px) {
    #video{
        margin: 700px 0px 0px -800px; 
        width: 3300px;    
        }
        .menu {
        font-size: 100px; 



}    
        
        
        
        
        
}





        
        

