html {
    background: url(resources/bg.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body {
    font-family: "Roboto Mono", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    overflow: hidden;
}

.eiko {
    position: relative;
    margin: 210px 0px 0px 120px;
    width: 230px;
}



.accordion {
    position: relative;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
    font-weight: 700;
    left: 8%;
}

.panel {
    position: relative;
    margin-bottom: 30px;
    left: 7%;
    display: none;
    overflow: hidden;
    z-index: 40;
    font-size: 18px;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a :hover {
    text-decoration: none;
    color: white;
}

a: visited {
    text-decoration: none;
    color: white;
}
