.eiko {
    position: relative;
    margin: 50px 0px 0px 40px;
}

body {
    font-family: "Roboto Mono", sans-serif;
    color: #434343;
}

.accordion {
    color: #434343;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    left: 3%;
}

.panel {
    position: relative;
    margin-bottom: 30px;
    left: 3%;
    display: none;
    overflow: hidden;
    z-index: 40;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #434343;
}

.contactbox{
    position: relative;
    font-size: 18px;
    text-align: left;
    width: 700px;
    padding-left: 600px;
}

.info{
    padding-top: 40px;
    padding-left: 7px;
    font-weight: 700;
}

h1{
    font-family: "roboto mono";
    font-size: 18px;
    font-weight: 400;
    position: relative;
    left: 50%;
    
    
    .rightNav2 #homeLnk:before {
    content: url('/images/homeIcon.png');
}
}