body {
    font-family: "Roboto Mono", sans-serif;
    font-size: 22px;
    overflow: hidden;
    margin: 0px;
}


.eiko {
    position: relative;
    width: 150px;
    padding-top: 100px;
    padding-left: 30px;
    z-index: 100;
}


.accordion {
    color: #434343;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    left: 3%;
    z-index: 99;
}

.panel {
    position: relative;
    margin-bottom: 30px;
    left: 3%;
    display: none;
    overflow: hidden;
    z-index: 40;
    z-index: 98;
    

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #434343;
}

.contactbox {
    position: relative;
    width: 340px;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 40px;

}

.info {
    font-weight: 700;
}

.notice {
    position: relative;
    width: 340px;
    font-weight: 400;
    font-size: 16px;
    left: 35%;
    margin-top: 100px;
    z-index: 1;
   
}
